@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
  }

  body{
    font-family: "Gill Sans", sans-serif;
  }

  .container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }                       

/* Esto aplica a toda la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
  border-radius: 5px; /* Hace que la barra de desplazamiento sea más redonda */
  background: #edeef0;

}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#F56565, #ED64A6); /* Degradado de rojo a rosa */
  border-radius: 5px; /* Hace que la barra de desplazamiento sea más redonda */
  z-index: 1000; /* Ajusta según sea necesario para que esté por encima del contenido */
}


/* Esto aplica a los botones de desplazamiento */
::-webkit-scrollbar-button:start:decrement {
  display: none; /* Oculta el botón de desplazamiento hacia arriba */
}


.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.emoji-picker-container {
  position: absolute;
  top: 10px; /* Ajusta según sea necesario para la posición deseada */
  left: 0;
  z-index: 1000; /* Ajusta según sea necesario para que esté por encima del contenido */
}

::selection {
  background: linear-gradient(#F56565, #ED64A6); /* Degradado de rojo a rosa */
}
